@model Post

@{
    ViewData["Title"] = Model.Title;
}

<h1>@ViewData["Title"]</h1>

    <div class="row" style="margin-bottom:20px">
        <div class="col-md-10">
            <form asp-action="Create">

                <div class="form-group" style="margin-bottom:20px">
                    <textarea asp-for="Content" class="form-control" disabled rows="20" cols="150"></textarea>
                </div>

                <a asp-action="Index" class="btn btn-warning">Voltar</a>
            </form>
        </div>
    </div>

